div._1PMUg {
    /* the under-tagline stats */
    visibility: hidden;
}

div.id3FC {
    /* comment + fav count on thumbnails - profile */
    visibility: hidden;
}
div._2-4qx {
    /* comment + fav count on thumbnails - home */
    visibility: hidden;
}

div.DoNlJ._2WQtE {
    /* stats on a deviation - from profile */
    display: none;
}
div._2jgqI._3d_s_ {
    /* stats on a deviation - from home */
    display: none;
}
