/* NO LONGER MAINTAINED.
 * Tumblr keeps changing the CSS too often
 * for me to constantly tweak this.
 * You can use the Xkit Rewritten Tweaks
 * extension instead:
 * https://github.com/AprilSylph/XKit-Rewritten
 * It is under Tweaks -> Compact footer and
 * Hide the type note badge in footers
 * to get the same result.
 * Sorry, it's just gotten awful to maintain
 * and someone else does it already! :)
 */

span.EvhBA.PArFh {
    /* tip button fix */
    margin-left: 2px;
}

.WNEhC {
    /* colourful icons. to get them back, just comment this out. */
    display: none !important;
}

footer.tOKgq {
    /* push the footer closer to the tags */
    margin-top: 12px;
}

div.m5KTc {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

div.gstmW {
    /* aligning notes back to the middle */
    padding-top: 9px;
}

div.MCavR {
    /* the goddamn divider */
    border-top-style: none !important;
    padding-top: 0px;
    margin-right: 10px !important;
}

div.sfGru {
    /* one icon */
    padding-left: 20px;
    padding-right: 0px;
}
