.WNEhC {
    /* colourful icons. to get them back, just comment this out. */
    display: none !important;
}

footer.tOKgq {
    /* push the footer closer to the tags */
    margin-top: 12px;
}

div.m5KTc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

div.gstmW {
    /* aligning notes back to the middle */
    padding-top: 9px;
}

div.MCavR {
    /* the goddamn divider */
    border-top-style: none !important;
    padding-top: 0px;
    margin-right: 10px !important;
}

div.sfGru {
    /* one icon */
    padding-left: 20px;
    padding-right: 0px;
}
