.WNEhC {
    /* colourful icons. to get them back, just comment this out. */
    display: none !important;
}

footer.G6mnk.tOKgq {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}

div.MCavR {
    /* the goddamn divider */
    border-top-style: none !important;
    margin-right: 10px !important;
}

div.sfGru {
    /* one icon */
    padding-left: 20px;
    padding-right: 0px;
}
